<a href="https://colab.research.google.com/github/dianabutch023/IS4487/blob/main/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [ ]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [ ]:
df = pd.read_csv('https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/superstore_retail_orders.csv?raw=true')
print (df)

       order_id  order_date order_year_month     customer_name  \
0         51188  2023-07-01          2023-07     Audrey Blanco
1         51187  2023-07-01          2023-07       Isaac Allen
2         51199  2023-07-02          2023-07        Ian Morgan
3         51241  2023-07-04          2023-07        Alexa Bell
4         51297  2023-07-08          2023-07        Casey Diaz
...         ...         ...              ...               ...
56038     74084  2024-06-29          2024-06        Ian Rogers
56039     74062  2024-06-29          2024-06   Marcus Anderson
56040     74065  2024-06-29          2024-06  Nathaniel Howard
56041     74038  2024-06-29          2024-06        Robin Sanz
56042     74110  2024-06-30          2024-06   Mallory Jimenez

                    city state_province                       email  \
0      North Cherylmouth  New Hampshire     audrey_blanco@email.com
1             Traceyland  West Virginia       isaac_allen@email.com
2              Dylanberg   South Dakota        ian_morgan@email.com
3         Lake Tracytown      Wisconsin        alexa_bell@email.com
4            Byrdchester    Mississippi        casey_diaz@email.com
...                  ...            ...                         ...
56038          Port Mark        Alabama        ian_rogers@email.com
56039     West Aprilfurt       Nebraska   marcus_anderson@email.com
56040      New Lindaview       Illinois  nathaniel_howard@email.com
56041    West Frankhaven       Arkansas        robin_sanz@email.com
56042        Dillonhaven       Maryland   mallory_jimenez@email.com

      order_type  quantity                                       product_name  \
0         Retail       3.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
1         Online       4.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
2         Online       5.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
3         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
4         Online       1.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
...          ...       ...                                                ...
56038     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56039     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56040     Online       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56041     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...
56042     Retail       1.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...

      product_line  product_price product_status
0           Mobile         649.99         Active
1           Mobile         649.99         Active
2           Mobile         649.99         Active
3           Mobile         649.99         Active
4           Mobile         649.99         Active
...            ...            ...            ...
56038  Electronics         914.62         Active
56039  Electronics         914.62         Active
56040  Electronics         914.62         Active
56041  Electronics         914.62         Active
56042  Electronics         914.62         Active

[56043 rows x 13 columns]

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [14]:
# I am confused about what the value "total amount" is. I was unable to attend class on wednesday so I missed this explaination
# Because of reason above, I am going to assume that "Total Amount" relates to the number of orders
Total_Amount = df['order_id'].count()

# Convert the first value in the 'Total Amount' column to an int.
num = int(Total_Amount)
print (num)

56043

In [22]:
df.dropna(inplace=True)

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [25]:
#average price
average_price = df['product_price']//12
print(average_price)

0        54.0
1        54.0
2        54.0
3        54.0
4        54.0
         ...
56038    76.0
56039    76.0
56040    76.0
56041    76.0
56042    76.0
Name: product_price, Length: 55498, dtype: float64

In [28]:
#total revenue
total_revenue = average_price.count()
print(total_revenue)

55498